.body {
    font-family: 'Kodchasan', sans-serif;
}

.background {
    min-height: 100%;
    min-width: 360px;
    max-width: 1920px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.white-tableau {
    border-radius: 10px;
    background-color: white;
    font-family: 'Kodchasan', sans-serif;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.logo {
    height: 50px;
}

.line {
    height: 100px;
}

.title {
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: 700;
}

.sub-header {
    font-size: 15px;
    margin-top: -3%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
}

.strong {
    display: none;
}

.medium {
    display: none;
}

.weak {
    display: none;
}

.password-field {
    display: flex;
    justify-content: center;
}

.gen-password {
    background-color: #C2D4EF;
    border-style: solid;
    border-width: 2px;
    border-color: #C2D4EF;
    margin-top: 5%;
    margin-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
    min-width: 220px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #6096B5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #1D344F;
    background-color: #6096B5;
    margin-top: 5%;
    font-weight: 700;
    font-size: 15px;
}

.copy-icon {
    max-height: 15px;
}

.char-password {
    background-color: #6096B5;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 2%;
    min-width: 50px;
    display: flex;
    justify-content: center;
}

.numbers {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
}

.scale {
    margin-left: 10%;
    min-width: 290px;
}

.form-check {
    margin-left: 10%;
    font-size: 13px;
    font-weight: 700;
}

.checkbox {
    padding-bottom: 10%;
}

.generate {
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.generate-btn {
    background-color: #6096B5;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #1D344F;
}