.body {
    font-family: 'Kodchasan', sans-serif;
}

.background {
    min-height: 100%;
    min-width: 360px;
    max-width: 1920px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.white-tableau {
    border-radius: 10px;
    background-color: white;
    font-family: 'Kodchasan', sans-serif;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.logo {
    height: 50px;
}

.title {
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: 700;
}

.sub-header {
    font-size: 15px;
    margin-top: -3%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
}

.strong {
    display: none;
}

.medium {
    display: none;
}

.weak {
    display: none;
}

.password-field {
    display: flex;
    justify-content: center;
}

.gen-password {
    background-color: #C2D4EF;
    border-style: solid;
    border-width: 2px;
    border-color: #C2D4EF;
    margin-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
    min-width: 220px;
}

.copy {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #6096B5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #1D344F;
    background-color: #6096B5;
    font-weight: 700;
    font-size: 15px;
}

.copy-icon {
    max-height: 15px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}